body {
    padding: 10px;
    margin: 0 auto;
}

#player {
    background-image: url(stickman-pic.png);
    width: 50px;
    height: 50px;
}

.row {
    display: flex;
}

/* .column {
    min-width: 50px;
    min-height: 50px;
} */

.wall {
    background-image: url(wall-pic.png);
}

.cell {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
}

.finish {
    background-image: url(target-pic.png);
}

.already-boxed {
    background-image: url(placed-box-pic.png);
}

.box-class {
    background-image: url(box-pic.png);
}